.App {
  text-align: center;
  min-height: 105vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin: 0px auto;
}

* {
  margin: 0px;
  padding: 0px;
}

.page {
  padding-top: 65px;
}

h1 {
  color: antiquewhite;
}

.maincolumn {
  background-color: #252500;
  z-index: -1;
  width: 50%;
  position: fixed;
  height: 100%;
  opacity: 0.5;
  box-shadow: 0px 0px 80px 14px white;
}

body {
  background: linear-gradient(to bottom, black, darkblue);
}
